<head>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="container" class="js-masonry"
         data-masonry-options='{ "itemSelector": ".photo.preview" }'>

        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ee2/X3xJXWIHzDM.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ed0/gZJgKdWOU_Q.jpg"/>
        <img class="photo preview" src="http://cs412916.vk.me/v412916785/f05/yNi3i3sCbF8.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ee2/X3xJXWIHzDM.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ed0/gZJgKdWOU_Q.jpg"/>
        <img class="photo preview" src="http://cs412916.vk.me/v412916785/f05/yNi3i3sCbF8.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ee2/X3xJXWIHzDM.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ed0/gZJgKdWOU_Q.jpg"/>
        <img class="photo preview" src="http://cs412916.vk.me/v412916785/f05/yNi3i3sCbF8.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ee2/X3xJXWIHzDM.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ed0/gZJgKdWOU_Q.jpg"/>
        <img class="photo preview" src="http://cs412916.vk.me/v412916785/f05/yNi3i3sCbF8.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ee2/X3xJXWIHzDM.jpg"/>
        <img class="photo preview" src="http://cs307812.vk.me/v307812785/8ed0/gZJgKdWOU_Q.jpg"/>
        <img class="photo preview" src="http://cs412916.vk.me/v412916785/f05/yNi3i3sCbF8.jpg"/>

    </div>

    <table class="photoViewer" style="display: none;">
        <tr>
            <td class="photoWrapper">
                <img class="photo full" src=""/>
            </td>
        </tr>
    </table>

</body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>

<script>

    var currentPreviewPhoto;

    $('.photo.preview').on('mousedown', function () {
        currentPreviewPhoto = this;
        $('.photo.full').attr('src', this.src);
        $('.photoViewer').show();
    });

    $('.photoViewer').before().on('mousedown', function () {
        $('.photoViewer').hide();
    });

    $('.photo.full').on('mousedown', function () {
        if($('.photo.preview').length - 1 !== $(currentPreviewPhoto).index()) {
            $('.photo.full').attr('src', $(currentPreviewPhoto).next()[0].src);
            currentPreviewPhoto = $(currentPreviewPhoto).next()[0];

        } else {
            $('.photo.full').attr('src', $('.photo.preview').first()[0].src);
            currentPreviewPhoto = $('.photo.preview').first();
        }
        return false;
    });


</script>