body,
#container {
  padding: 0;
  margin: 0;
}
.photo.preview {
  width: 25%;
  border: 1px solid #000;
  box-sizing: border-box;
}
.photoViewer:before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.photoViewer .photoWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}
.photoViewer .photo.full {
  height: 100vh;
  vertical-align: middle;
}
